<div class="row justify-content-center align-items-center">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center">Agendar Serviço</h1>

    <form action="/user/service" method="post">

      <div class="form-group">
        <label for="clientName">Nome do Cliente</label>
        <input type="text" id="clientName" name="clientName" class="form-control">
      </div>

      <div class="form-group">
        <label for="petName">Nome do pet</label>
        <input type="text" id="petName" name="petName" class="form-control">
      </div>

      <div class="form-group">
        <label for="phone">Telefone</label>
        <input type="text" id="phone" name="phone" class="form-control">
      </div>

      <div class="form-group">
        <label for="service">Tipo de serviço</label>
        <select class="form-control" id="service" name="service">
          <option value="Banho e tosa">Banho e tosa</option>
          <option value="Consulta com Veterinario">Consulta com Veterinario</option>
          <option value="Adestramento">Adestramento</option>
          <option value="Castração">Castração</option>
        </select>
      </div>

      <div class="form-group" id="divData">
        <label for="date">Data: </label>
        <input type="date" name="date" class="form-control boxSizeDefault" id="date" placeholder="Data da Consulta">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <button type="submit" class="btn btn-primary">Agendar</button>
    </form>
  </div>
</div>
