.card.prod {
  min-height: 400px;
}

.card img{
  width: 150px;
  height: 100%;
  align-self: center;
}

.scroll {
  height:450px;
  overflow-y: scroll;
}

.imgCadastro {
  border-radius: 50%;
  display: block;
  margin: 1.5em auto 1.5em auto;
}

.logo-img{
  position: relative;
  display: inline-block;
  left: 4.5%;
}
